body {
    --bg-main: #fff;
    --bg-lt: #fff;
    --bg-dk: #fff;
    /**/
    --text-main: hsl(180, 100%, 20%);
    --text-main-acc: hsl(180, 80%, 35%);
    --text-main-X-acc: hsl(180, 80%, 60%);
    --text-sec: #000;
    --text-sec-acc: ;
}

body.dark-mode {
    --bg-main: hsl(220, 100%, 5%);
    --bg-lt: hsl(220, 100%, 10%);
    --bg-dk: hsl(220, 100%, 2%);
    --bg-sec: hsl(220, 20%, 20%);
    --bg-sec-lt: hsl(220, 20%, 30%);
    --bg-sec-Xlt: hsl(220, 20%, 45%);
    --bg-sec-dk: hsl(220, 20%, 15%);
    /**/
    --text-main: hsl(180, 100%, 90%);
    --text-main-acc: hsl(180, 100%, 80%);
    --text-main-X-acc: hsl(180, 100%, 65%);
    --text-sec: hsl(220, 00%, 50%);
    --text-sec-acc: hsl(220, 00%, 70%);
    --text-sec-X-acc: hsl(220, 00%, 90%);
    /**/
    --border-main: hsl(200, 80%, 60%);
    --border-1: hsl(60, 100%, 50%);
    --border-2: hsl(260, 10%, 50%);
    /**/
    --xp-col: hsl(60, 100%, 50%);
}