* {
    margin: 0;
    padding: 0;
    transition: 0.3s;
    transition-property: background, color, background-color, src;
    font-family: 'Segoe UI', Tahoma, sans-serif; 
}
p, h1, h2, h3, h4, h5 {
    width: fit-content;
}

header {
    --hd-h: 50px;
    background: var(--bg-dk);
    width: 100%;
    height: var(--hd-h);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /**/
    --theme-toggler-size: min(100px, calc(var(--hd-h)*0.4));
    img#theme-toggler {
        aspect-ratio: 1/1;
        height: var(--theme-toggler-size);
        background: var(dbg-bg41);
        margin: 0 2.5%;
    }
    h1#title {
        font-family: 'Courier New', Courier, monospace;
        color: var(--text-main-X-acc);
        font-size: min(calc(var(--hd-h)/1.13), calc((var(--screen-w)*0.9 - var(--theme-toggler-size))/8.6));
        margin: 0 2.5%;
        font-weight: bold;
        /*
        8.4 * size = width;
        */
    }
}