* {
    margin: 0;
    padding: 0;
    transition: 0.3s;
    transition-property: background, color, background-color, src;
}

header {
    --hd-h: 55px;
    background: var(--bg-dk);
    width: 100%;
    height: var(--hd-h);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /**/
    --theme-toggler-size: min(100px, calc(var(--hd-h)*0.5));
    img#logout-btn {
        aspect-ratio: 3/2;
        width: var(--theme-toggler-size);
        margin-right: 2.5%;
    }
    h1#title {
        font-family: 'Iceland';
        width: fit-content;
        color: var(--text-main-X-acc);
        font-size: min(calc(var(--hd-h)), calc((var(--screen-w)*0.9 - var(--theme-toggler-size))/6.4));
        margin-left: 2.5%;
        font-weight: bold;
        /*
        8.4 * size = width;
        */
    }
}