* {
    margin: 0;
    padding: 0;
    transition: 0.3s;
    transition-property: background, color, background-color, src;
    font-family: 'Segoe UI', Tahoma, sans-serif; 
}
p, h1, h2, h3, h4, h5 {
    width: fit-content;
}

body {
    background: var(--bg-main);
}

main {
    --main-padding-w: 7%;
    padding: 20px var(--main-padding-w);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

div#reg-block {
    border-image-source: var(--border-img-main);
    border-image-repeat: round;
    border-image-slice: 10;
    --bord-w: 5px;
    border-image-width: var(--bord-w);
    border-image-outset: var(--bord-w);
    background-color: var(--bg-sec-dk);
    /**/
    padding: min(20px, 5%);
    --t-w: min(calc(var(--screen-w) - var(--main-padding-w)*2 - var(--bord-w)*2 - min(20px, 5%)*2), 400px);
    width: var(--t-w);
    height: 220px;
    
}

div#reg-block div.cont {
    width: 100%;
    height: 100%;
    /**/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    *{
        margin-bottom: 2px;
    }
    label {
        color: var(--text-main);
        font-size: 17px;
    }
    input {
        background-color: var(--bg-sec-X-lt);
        border: solid 2px var(--border-2);
        border-radius: 5px;
        padding: 2px;
        color: var(--text-sec-X-acc);
        width: 70%;
        font-size: 15px;
    }
    input::placeholder {
        color: var(--text-sec-acc   );
    }
    input:focus {
        outline: none;
        border: dashed 2px var(--border-2-acc);
    }
    button#submit {
        background-color: var(--bg-dk);
        border: solid 3px var(--border-main);
        height: 40px;
        width: 80%;
        align-self: center;
        margin-top: auto;
        color: var(--text-main-acc);
        font-weight: 500;
        font-size: 20px;
    }
    a {
        width: fit-content;
        align-self: center;
        color: var(--text-sec);
        text-decoration: none;
        span {
            color: var(--link);
        }
    }
}

.hidden {
    display: none !important;
    * {
        display: none !important;
    }
}

div#overlay {
    width: var(--t-w);
    height: 220px;
    margin-top: -220px;
    /**/
    position: absolute;
    background-color: var(--bg-sec-dk);
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#loading-circle {
    background-image: linear-gradient(-90deg, var(--border-main) 30%, var(--border-3) 120%);
    border: 6px solid var(--bg-sec-dk);
    border-top-color: transparent;
    border-radius: 1000px;
    animation: circle-anim 1s linear infinite;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    div#loading-circle-inner {
        background: var(--bg-sec-dk);
        border-radius: 1000px;
        border: 1px solid var(--bg-sec-dk);
        height: 30px;
        width: 30px;
        margin-left: -0.5px;
        margin-top: -0.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: circle-anim 1s linear infinite;
        animation-direction: reverse;
        p {
            transform: rotate(90deg);
            margin-left: 4.5px;
        }
    }
}

div#result-message {
    text-align: justify;
    width: 75%;
    font-size: 18px;
    margin-top: 10px;
}

div#result-message[techflag="1"] {
    text-align: center;
}

button#after-action {
    background-color: var(--bg-dk);
    border: solid 3px var(--border-main);
    height: 40px;
    width: 100%;
    margin-top: auto;
    color: var(--text-main-acc);
    font-weight: 500;
    font-size: 20px;
}

@keyframes circle-anim {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(130deg);
  }
  70% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(360deg);
  }
}